Applications/
Desktop/
Developer/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.android/
.cache/
.DS_Store
.vscode/
.gnupg/
.wakatime.bdb
.wakatime.cfg
.wakatime/
.viminfo
.lesshst
.inputrc
.zcompdump
.npm/
.node_repl_history
.CFUserTextEncoding
.zsh_history
.zsh_sessions/
.ssh/
.config/hub
